@page
@model SerieA.Pages.CRUDSquadre.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Squadra</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Squadra.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Squadra.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Squadra.Anno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Squadra.Anno)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Squadra.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
