@page
@model SerieA.Pages.CRUDCampionati.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Campionato[0].NomeCampionato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campionato[0].Nazione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campionato[0].Anno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Campionato) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCampionato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anno)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
